*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --btns-primary-color: #6C25FF;
    --btns-secondary-color:#6C25FF4B;
    --font-primary-color: #919191;
    --font-sec-color: #CBCBCB;
    --font-tert-color: #F7F8F9;
    --bg-color:#F7F8F9;
}
.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: var(--bg-color);
}

.landing-page-container{
    max-width: 40vw;
    max-height: 90vh;
    width: 100%;
    padding: 10px;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: flex-end;
}

.landing-page-div{
    width: 100%;
    margin-bottom: 20px;
    
}


.heading-p-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
}
.landing-page-div .landing-para{
    
    color: var(--font-primary-color);
    font-size: 16px;
}

.landing-page-btns-container{
    
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.landing-page-btns-container button{
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
}
.landing-page-btns-container button:nth-of-type(1){
    background-color: var(--btns-primary-color);
    color: var(--font-tert-color);
}
.landing-page-btns-container button:nth-of-type(2){

    background-color: var(--btns-secondary-color);
}




/*              Login Page css          */

.login-page-container{
    max-width:40vw;
    max-height: 90vh;
    width: 100vw;
    height: 100%;
    padding: 10px;
    /* border: 1px solid black; */
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-form fieldset{
    padding: 0px 8px;
    border-radius: 5px;
    border-color:var() ;
}
fieldset legend{
    color: var(--btns-primary-color);
    font-weight: 600;
}
.login-form fieldset input{
    padding: 8px;
    width: 100%;
    border: none;
    outline: none;
}

.login-btn{
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: var(--font-sec-color);
    color:var(--font-tert-color);
    background-color: var(--btns-primary-color);
}

.login-heading-p-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 12px;
}



/*              Create Account page css          */

.createAccount-page{
    max-width: 40vw;
    max-height: 90vh;
    width: 100%;
    height: 100%;   
    padding: 30px 10px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.creat-account-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.creat-account-form fieldset{
    padding: 0px 8px;
    border-radius: 8px;
}
.creat-account-form fieldset input{
    width: 100% ;
    padding: 5px;
    border: none;
    outline: none;
    
}
.creat-account-form fieldset span{
    color: #DD4A3D;
}

.creat-account-form fieldset:last-of-type{
    width: unset;
    display: flex;
    gap: 12px;
    padding: 5px;
}
.creat-account-form fieldset:last-of-type div{
    display: flex;
    gap: 5px;
}



@media screen and (max-width:800px) {
    
    .landing-page-container,.login-page-container,.createAccount-page{
        max-width: 100vw;
        max-height: 100vh;
        height: 100%;
        width: 100%;
    }
    .app{
        display: block;
        overflow: hidden;
    }
}